.here {
  max-width: 1200px;
  background-color: #f4f4f4;
  margin: 0 auto;
  padding-top: 98px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 72px;
  overflow: hidden;
  &-scren{
    @include fontStyle(46px, 700, 50px, #8d81ac, center, none, );
    text-align: center;
    &::before {
      content: "<";
    }
    &::after {
      content: ">";
    }
  }
  &__title-main{
display: none;
  }

  &__text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
          }
          
  &__items {
    justify-self: end;
    padding-left: 10px;
    grid-area: items;
  }
  &__item {
    @include displayFlex(space-between, flex-start,);
    margin-bottom: 35px;
    max-width: 530px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    font-size: 16px;
    line-height: 21px;
    color: #323232;
    margin-bottom: 17px;
  }
  &__descrp {
    font-size: 14px;
    line-height: 21px;
    color: #848e97;
  }
  &__wrapp {
    min-width: 111px;
    margin-right: 23px;
  }
  &__img {
    width: 100%;
    max-width: 660px
  }
  .title {
    text-align: start;
    margin-left: 15px;
  }
}



@media (max-width: 992px){
  .here {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title-main{
      display: flex;
      @include fontStyle(46px, 700, 50px, #8d81ac, center, none, );
    text-align: center;
    padding-bottom: 54px;
    &::before {
      content: "<";
    }
    &::after {
      content: ">";
    }
    }
    .here-scren{
      display: none;
    }
    &__img {
      max-width: 660px
    }
      &__descrp {
        text-align: start;
        max-width: 700px
      }
    &__items {
     
      .here__item {
        margin-bottom: 50px;
        &:last-child {
          margin-bottom: 50px;
        }
        &:last-child {
          margin-bottom: 50px;
        }
      }
    }
    .scren{width: 100%;
      display: flex;
      justify-content: end;
    }
  }
  .title {
    margin-bottom: 50px;
    text-align: center;
    padding: 0 10px;
    font-size: 28px;
    line-height: 42px;
  }
 



  @media (max-width: 480px) {
    .here {
      padding: 30px 0 0;
      &__text{
        align-items: center;
      }
      &__item {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &__items {
        margin-top: 36px;
        margin-bottom: 0;
      }
      &__wrapp {
        margin: 0 0 27px;
      }
      &__title {
        text-align: center;
      }
      &__descrp {
        margin: 14px 0 38px;
        text-align: center;
      }
      &__png {
        display: block;
        margin: 0 auto;
      }
    }
    .here__title-main {
      font-size: 28px;
      line-height: 42px;
    }
  }
}
